[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bin/tmuxifier"]
	path = bin/tmuxifier
	url = git://github.com/jimeh/tmuxifier.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
